---
layout: page
title: About
---

<section>
	<img class="profile" src="{{ site.url }}/{{ site.picture }}" alt="Rousan Ali" />
	<br />

	<p style="margin-bottom: 30px;">
		I try to build things from scratch to One for open source community and try solving hard problems with simpler
		methods regardless of its complexity. I have a passion for learning new technologies by applying my knowledge
		and skills in a challenging environment. I prefer to work in a competitive environment where every second you
		are required to prove how far you can go to be at the top.
		I believe in “Work is Worship”. Once I committed myself to a particular task, I make sure I finish it without
		compromising on the quality.
		<!-- <a style="display: block;" class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
			<span>
				<svg class="icon icon-mail">
					<use xlink:href="#icon-mail"></use>
				</svg>
			</span>
		</a> -->
	</p>

	<div>
		Please find my email id below to connect with me.
		<p class="about-mail" style="margin-top: 10px;">
			<a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
				<span>
					<svg class="icon icon-mail">
						<use xlink:href="#icon-mail"></use>
					</svg>
				</span>
			</a>
		</p>
	</div>

	<h3 class="skill-title" style="margin-top: 40px;">Key Skills</h3>
	<ul class="skill-list">
		{% for skill in site.data.skills.keySkills %}
		<li>{{ skill }}</li>
		{% endfor %}
	</ul>

	<h3 class="skill-title" style="margin-top: 15px;">Technological Skills</h3>
	<ul class="skill-list">
		{% for skill in site.data.skills.technologicalSkills %}
		<li>{{ skill }}</li>
		{% endfor %}
	</ul>



	<!-- 
	<h2 class="about-projects">
      <a class="link" href="{{ site.url }}/projects">Projects</a>
  </h2> -->
</section>